@charset "utf-8"

@import '../node_modules/bulma/sass/utilities/_all.sass'
@import '../node_modules/bulma/sass/base/_all.sass'
@import '../node_modules/bulma/sass/grid/columns.sass'
@import '../node_modules/bulma/sass/elements/title.sass'
@import '../node_modules/bulma/sass/elements/container.sass'
@import '../node_modules/bulma/sass/form/shared.sass'
@import '../node_modules/bulma/sass/form/tools.sass'
@import '../node_modules/bulma/sass/form/input-textarea.sass'
@import '../node_modules/bulma/sass/elements/button.sass'
@import '../node_modules/bulma/sass/elements/content.sass'
@import '../node_modules/bulma/sass/elements/image.sass'
@import '../node_modules/bulma/sass/components/media.sass'
@import '../node_modules/bulma/sass/components/message.sass'
@import '../node_modules/bulma/sass/components/panel.sass'

.video-item-container
  cursor: pointer

.video-container
  position: relative
  padding-bottom: 56.25%
  padding-top: 30px
  height: 0
  overflow: hidden
 
.video-container iframe,
.video-container object,
.video-container embed
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
